@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow-x:scroll */
}

html{
  font-size: 62.5%;
  font-family: "Rancho";
}

.app{
  width:99vw;
  height:100vh;
  background-image:linear-gradient(rgba(0,0,0,0.3)100%,transparent 0%),url('images/bg.jpg');
  background-size:100% 100%;
  background-position:center;
 
  
}

.homePageText{
   text-align: center;
   margin-top: 20rem;
   color:white;
   font-family: "Rancho";
   text-shadow: -1px 3px 3px rgba(0,0,0,0.6);
   position: absolute;
}

.homePageText h1{
  font-size: 10rem;
  margin: 2rem;
  letter-spacing: 1rem;
}

.homePageText h3{
  font-size: 5rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.homePageText h4{
   font-size: 4rem;
   letter-spacing: 1rem;
 
}
.typist{
  font-size: 6rem;
  color:white;
  margin-top: 1rem;
}

::-webkit-scrollbar-button{
  display: none;
}